// Layout One
.banner-layout-one {
    background-color: #d3d3d3;
    margin-bottom: rem-calc(40);
    .banner-wrapper,
    .banner-content {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 250px;
    }

    .banner-content {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .banner-content h1{
        color: #FFF;
        margin-top: 80px;
        text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
    }
}

// Layout Two
.banner-layout-two {
    background-color: #d3d3d3;

    .banner-image{
        background-color: #afafaf;
        min-height: rem-calc(250);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1{
        padding-top: rem-calc(70);
    }
}

.banner-layout-two.banner-wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
// @media #{$small-only} {
@include breakpoint(small only) {
    .banner-layout-two{
        h1{
            padding-top: rem-calc(40);
            padding-bottom: rem-calc(40);
        }

    }
}
