%overlay {
  position:absolute;
  opacity:0;
}
// Layout One
.home-tiles-layout-one {
    margin: 40px 0 40px;

    .home-tile-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 15px;
        max-height: 150px;
        min-height: 150px;
        width: 100%;
    }

    .home-tile {
        text-align: left;
        a {
            background-color: #f2f2f2;
            display: block;
            border:1px solid #e7e7e7;
            position:relative;
            padding-top:rem-calc(50);
            padding-bottom:rem-calc(60);
            overflow:hidden;
            .overlayLeft {
              @extend %overlay;
              left:-40px;
              bottom:0;
              -webkit-animation: exitL 1.1s 1 forwards; /* Safari 4+ */
              -moz-animation:    exitL 1.1s 1 forwards; /* Fx 5+ */
              -o-animation:      exitL 1.1s 1 forwards; /* Opera 12+ */
              animation:         exitL 1.1s 1 forwards;
            }
            .overlayBottom {
              @extend %overlay;
              left:0;
              bottom:-60px;
              -webkit-animation: exitB 1s 1 forwards; /* Safari 4+ */
              -moz-animation:    exitB 1s 1 forwards; /* Fx 5+ */
              -o-animation:      exitB 1s 1 forwards; /* Opera 12+ */
              animation:         exitB 1s 1 forwards;
            }
            &:hover {
              span.button {
                // background-color:$button-red;
                background-color:red;
              }
              .overlayLeft {
                left:0;
                bottom:0;
                -webkit-animation: enterL 1.1s 1 forwards; /* Safari 4+ */
                -moz-animation:    enterL 1.1s 1 forwards; /* Fx 5+ */
                -o-animation:      enterL 1.1s 1 forwards; /* Opera 12+ */
                animation:         enterL 1.1s 1 forwards;
                animation-delay:0.1s;
              }
              .overlayBottom {
                left:0;
                bottom:0;
                -webkit-animation: enterB 1s 1 forwards; /* Safari 4+ */
                -moz-animation:    enterB 1s 1 forwards; /* Fx 5+ */
                -o-animation:      enterB 1s 1 forwards; /* Opera 12+ */
                animation:         enterB 1s 1 forwards;
              }
            }
            @keyframes enterL {
              0% {
                left:-40px;
                bottom:0;
                opacity:0;
              }
              20% {
                left:-40px;
                bottom:0;
                opacity:0;
              }
              100% {
                left:0;
                bottom:0;
                opacity:1;
              }
            }
            @keyframes exitL {
              0% {
                left:0;
                bottom:0;
                opacity:1;
              }
              100% {
                left:-40px;
                bottom:0;
                opacity:0;
              }
            }
            @keyframes enterB {
              0% {
                left:0;
                bottom:-60px;
                opacity:0;
              }
              100% {
                left:0;
                bottom:0;
                opacity:1;
              }
            }
            @keyframes exitB {
              0% {
                left:0;
                bottom:0;
                opacity:1;
              }
              100% {
                left:0;
                bottom:-60px;
                opacity:0;
              }
            }
          }

        p {
            color: #333;
            padding: rem-calc(0 20);
            margin-bottom:rem-calc(60);
        }

        .title {
            color: #333;
            padding: rem-calc(0 20);
        }
    }

    .linkWrapper {
      position:absolute;
      left:0;
      right:0;
      bottom:60px;
    }

    .home-tile-link {
        display: inline-block;
        // margin-bottom: rem-calc(20);
        padding: 10px 15px;
        text-align: center;
        position:relative;
        margin:0 auto;
        text-align:center;
    }
}

// Layout Two
.home-tiles-layout-two {
    margin: 40px 0 40px;

    a {
        display: block;

        &:hover {
            .home-tile-content {
                background-color: rgba(0, 0, 0, .5);
            }
        }
    }

    .home-tile-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //min-height: rem-calc(200);
        padding: rem-calc(0);
    }

    .home-tile-content {
        background-color: rgba(0, 0, 0, .3);
        padding: rem-calc(20);

        .title {
            color: $white;
        }

        p {
            color: $white;
        }

        span {
            display: inline-block;
            color: $white;
            padding: rem-calc(5 15);
            border: 1px solid $white;
        }
    }


}
