.home-slides-wrapper,
.home-slides,
.home-slide {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.home-slides-wrapper {
    position: relative;
    overflow: hidden;
}

.home-pager-wrapper {
  display:block;
  text-align:center;
  z-index:200;
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  z-index:200;
}
.home-slides-pager {
    z-index:200;
    bottom:0;
    text-align:center;
    display:inline-block;
    width:auto;
    text-indent:-9999px;
    span {
        color: rgba(#FFF, 0.5);;
        margin-right:24px;
        font-size: 1.5em;
        cursor: pointer;
        background-image:url("../images/pager-icon-inactive.png");
        background-repeat:no-repeat;
        display:block;
        float:left;
        height:14px;
        width:14px;
        &:hover {
            color: rgba(#666, 0.5);
        }
        &.cycle-pager-active {
            color: rgba(#666, 0.8);;
            background-image:url("../images/pager-icon.png");

        }
    }
    span:last-child {
      margin-right:0;
    }
}

#home-slides-prev, #home-slides-next {
    position: absolute;
    z-index: 200;
    bottom: 50%;
    color: rgba($white, 1);
    font-size:rem-calc(48);

    &:hover{
        color: rgba($white, 0.9);
    }
}

#home-slides-prev{
    left: rem-calc(20);
}

#home-slides-next{
    right: rem-calc(20);
}

.home-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-slide-content h1 {
    margin-top: 100px;
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.home-slide-content p {
    color: #FFF;
    max-width: 60%;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.home-slide-content a {
    color: #FFF;
    text-decoration: underline;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    display: inline-block;
}

.bannerOverlay {
  position:absolute;
  bottom:0;
  left:0;
  z-index:900;
}

@media only screen and (max-device-width: 480px) {

    .home-slide-content p {
        max-width: 100%;
    }

}
