// import typography styles for the editor in the CMS
@import "compass/css3";
@import "foundation-sites/scss/foundation";
@import "settings";

.typography {
  padding: rem-calc(30);
}

p {
  font-size: rem-calc(16);
}

@include foundation-global-styles;
@include foundation-typography;
@include foundation-button;

@import "base";
